body{
    background-color: beige;
}
#div{
    background-color: aqua;
    padding: 25px;
    border-radius: 15px;
    width: 300px;
}

.calcula{
    display: flex;
    background-color: blue;
    color:white;
    padding: 5px;
    margin: 2px;
    border-radius: 10px;
    justify-content: center;

}