body{
    background-color: #000000;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container{
    border: #ffffff 1px solid;
    margin: 50px 50px 50px 50px; /* Centra el contenedor horizontalmente */
    padding: 20px; /* Ajusta el relleno interno */
    width: 80%; /* Ajusta el ancho del contenedor */
    max-width: 1200px; /* Ancho máximo del contenedor */
    box-sizing: border-box; /* Incluye el borde y el relleno en el ancho total */
    height: 600px; /* Ajusta la altura del contenedor */
}
.hormiga {
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url('raichu.png'); /* Imagen de la hormiga */
    background-size: cover;
    border-radius: 50%;
}
#contador{
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
#final{
    color: #d70000;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    align-content: center;
    display: none;
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    background-color: rgba(131, 131, 131, 0.5);
    z-index: 1;
}
#ganaste {
    color: #00d700;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    align-content: center;
    display: none;
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    background-color: rgba(131, 131, 131, 0.5);
    z-index: 1;
}